/* ContactsPage.module.css */
.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 70px;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cartTitle {
  padding: 2px;
  margin: 2px;
  color: #121212;
  font-size: 2em;
  font-weight: 900;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cartText {
  padding: 2px;
  margin: 2px;
  color: #0b0b0b;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cartBtn {
  padding: 2px;
  margin: 2px;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
}
.cartIcon {
  width: 80px;
  height: 80px;
  margin: 5px;
  margin-bottom: 0px;
  padding: 0px;
}

.background {
  min-height: calc(100vh - 56px);
  overflow: hidden;
  /* background-image: url("../../images/OLddesignHome.png"); */
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 280px 210px;
}

.buttonViews {
  width: 166px;
  height: 56px;
  padding: 0px;
  margin: 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  border-radius: 40px;
}

.btnVie {
  width: 166px;
  height: 56px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e44848;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  color: #fff;
}
