/* ContactMap.module.css */
@media screen and (min-width: 200px) and (max-width: 1020px) {
  .mapWrapper {
    width: 100%;
    height: 600px;
    max-width: 950px;
    margin: 40px auto;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.7s ease-in-out;
  }
}
.mapWrapper {
  width: 100%;
  height: 800px;
  max-width: 2000px;
  margin: 40px auto;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.7s ease-in-out;
}

.cardMap {
  width: 100%;
  height: 100%; /* ← критично */
  display: block;
}

.contact-map {
  width: 100%;
  height: 350px;
}

/* Анімація появи */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hover-підсвітка (через збільшення іконки ми контролюємо у React) */
.marker-default {
  transition: transform 0.25s ease;
}

.marker-hover {
  transform: scale(1.15);
  transition: transform 0.25s ease;
}

/* Mobile */
@media (max-width: 480px) {
  .contact-map {
    height: 280px;
  }
}

.customTooltip {
  width: 300px;
  height: 50px;
  background-color: white;
  color: #333;
  padding: 6px 8px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(5px);
}

.leaflet-tooltip.customTooltip.leaflet-tooltip-active {
  opacity: 1;
  transform: translateY(0);
}
