/* ================= */
/* CONTAINER */
/* ================= */

.container {
  width: 100%;
  padding-top: 80px;
}

/* ================= */
/* BACKGROUND */
/* ================= */

.background {
  width: 100%;
  background: #222;
}

/* ================= */
/* MAIN GRID */
/* ================= */

.card {
  /* position: relative; */
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 220px 1fr 420px;
  align-items: center;
  gap: 60px;
  padding: 40px 20px;
}

/* ================= */
/* LEFT GRID IMAGE */
/* ================= */

.imgCardGrid {
  left: 0;
  top: 0;
  width: 140px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.imagesGrid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-fit: cover; - щоб не обрізало */
}

.images {
  width: 100%;
  height: auto;
  display: block;
}

/* ================= */
/* TEXT */
/* ================= */

.usContent {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  max-width: 520px;
}

.titleHaria {
  width: 260px;
}

.carttextUs strong {
  color: white;
  font-family: Montserrat;
  font-weight: 500;
  font-size: clamp(16px, 1.1vw, 20px);
  line-height: 1.5;
}

/* ================= */
/* RIGHT IMAGE GRID */
/* ================= */

.ulCard {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topBlokImgCard,
.bottomBlokImgCard {
  display: flex;
  gap: 20px;
}

.liImgCard {
  width: 200px;
}

.liImgCard img {
  width: 100%;
  border-radius: 20px;
}

/* ================= */
/* LARGE SCREENS */
/* ================= */

@media (min-width: 1440px) {
  .container {
    width: 100%;
  }
  .background {
    width: 100%;
    margin-top: 50px;
    width: 100%;
    background: #222;
    display: flex;
    justify-content: flex-start;
  }

  .card {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 70px;
    width: 100%;
    max-width: 1600px;
    gap: 80px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: left;
  }
  .topBlokImgCard {
    gap: 40px;
  }
  .liImgCard {
    width: 300px;
  }
  .images {
    width: 300px;
  }
  .imgCardGrid {
    width: 200px;
  }
  .imagesGrid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
  }
}

/* ================= */
/* TABLET 700-1440 */
/* ================= */

@media (max-width: 1440px) {
  .container {
    width: 100%;
  }
  .background {
    width: 100%;
    margin-top: 50px;
    width: 100%;
    background: #222;
    display: flex;
    justify-content: flex-start;
  }
  .card {
    width: 100%;
    max-width: 1440px;
    margin-top: 50px;
    /* grid-template-columns: 140px 1fr 360px; */
    /* padding: 40px 60px; */
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: left;
  }

  .imgCardGrid {
    width: 120px;
  }
  .ulCard {
    width: 100%;
    max-width: 520px;
  }
  .topBlokImgCard {
    width: 100%;
    gap: 30px;
    max-width: 620px;
  }
  .bottomBlokImgCard {
    width: 100%;
    gap: 30px;
    max-width: 620px;
  }
  .liImgCard {
    width: 350px;
    /* height: 300px; */
  }
  .imagesHaria {
    width: 220px;
  }
  .images {
    width: 350px;
    height: auto;
  }
}

/* ================= */
/* SMALL TABLET */
/* ================= */

@media (max-width: 1000px) {
  .card {
    grid-template-columns: 120px 1fr;

    gap: 40px;
  }

  .ulCard {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .topBlokImgCard {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bottomBlokImgCard {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .liImgCard {
    width: 200px;
  }
  .images {
    width: 200px;
  }
  .usContent {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    /* width: 300px; */
    max-width: 400px;
  }
}

/* ================= */
/* MOBILE */
/* ================= */

@media (max-width: 700px) {
  .card {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    padding: 40px 24px;
    gap: 40px;
  }

  .imgCardGrid {
    width: 100px;
  }

  .usContent {
    max-width: 90%;
  }

  .ulCard {
    align-items: center;
    /* max-width: 520px; */
  }

  .topBlokImgCard,
  .bottomBlokImgCard {
    justify-content: center;
  }

  .liImgCard {
    width: 150px;
  }
}

/* ================= */
/* SMALL MOBILE */
/* ================= */

@media (max-width: 380px) {
  .liImgCard {
    width: 130px;
  }
}
