/* AboutUsPage */

.background {
  /* min-height: calc(100vh - 56px); */
  /* overflow: hidden; */
  background-image: url("../../images/aboutUsPage.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 280px 210px;
  width: 1440px;
  height: 652px;
}
.container {
  padding: 0px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 140px;
  height: auto;
  /* top: 150; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  display: flex;
  margin: 0px;
  margin-top: 300px;

  /* margin-left: 64px; */
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.cartTitle {
  padding: 2px;
  margin: 2px;
  color: #fff;
  font-size: 2em;
  font-weight: 900;
  line-height: 2;
  display: flex;
  justify-content: start;
  align-items: left;
  text-align: left;
}

.cartText {
  padding: 2px;
  margin: 2px;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  display: flex;
  justify-content: start;
  align-items: left;
  text-align: left;
}

.cartBtn {
  padding: 2px;
  margin: 2px;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
}
.cartIcon {
  width: 80px;
  height: 80px;
  margin: 5px;
  margin-bottom: 0px;
  padding: 0px;
}

.buttonViews {
  width: 166px;
  height: 56px;
  padding: 0px;
  margin: 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  border-radius: 40px;
}

.btnVie {
  width: 207px;
  height: 59px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: #fff;
}
