/* CartIconHeder */
.activeButton {
  /* padding: 2px; */
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  /* justify-content: start; */
  justify-content: center;
  align-items: center;
}
.bascetTitle {
  margin-right: 30px;
}
.hedBlock {
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.titleIcon {
  padding: 2px;
  margin: 2px;
  margin-right: 40px;
}
.iconBlok {
  /* width: 70px; */
  height: 65px;
  padding: 0px;
}
.iconReact {
  width: 70px;
  height: 65px;
  /* padding: 5px; */
  /* margin: 5px; */
  margin-left: -5px;
  color: hsl(63, 93%, 49%);
}
.iconCount {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
  margin-right: 10px;
  /* margin-top: 20px; */
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.itemBlock {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.itemButton {
  padding: 2px;
  margin: 2px;
  margin-left: 10px;
  background-color: rgb(235, 15, 23);
}
.text {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.nav {
  height: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo {
  font-weight: 700;
  margin: 0;
}

.link {
  padding: 8px 10px;
  margin: 20px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

a:hover {
  color: #d84343;
}

.link:hover {
  color: #d84343;
}

a:focus {
  color: #d84343;
}

.link:focus {
  color: #d84343;
}

.active {
  color: #d84343;
}
/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 110px;
  z-index: 3000;
}

/* Modal */
.modal {
  /* top: 100px; */
  width: 95%;
  height: auto;
  max-width: 500px;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  position: relative;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  /* z-index: 300; */
}

/* Close */
.closeBtn {
  position: absolute;
  right: 12px;
  top: 10px;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  margin-left: 40px;
}

/* Buttons */
.clearBtn {
  background: #e44848;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* List */
.list {
  margin: 12px 0;
}

.itemBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}

.total {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 700;
}
.totalBascet {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 900;
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
  margin-right: 10px;
  /* margin-top: 20px; */
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
