/* CartIconHeder */
.activeButton {
  /* padding: 2px; */
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  /* justify-content: start; */
  justify-content: center;
  align-items: center;
}
.hedBlock {
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.titleIcon {
  padding: 2px;
  margin: 2px;
  margin-right: 40px;
}
.iconBlok {
  /* width: 70px; */
  height: 65px;
  padding: 0px;
}
.iconReact {
  width: 70px;
  height: 65px;
  /* padding: 5px; */
  /* margin: 5px; */
  margin-left: -5px;
  color: hsl(63, 93%, 49%);
}
.iconCount {
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
  margin-right: 10px;
  /* margin-top: 20px; */
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.itemBlock {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.itemButton {
  padding: 2px;
  margin: 2px;
  margin-left: 10px;
  background-color: rgb(235, 15, 23);
}
.text {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.nav {
  height: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo {
  font-weight: 700;
  margin: 0;
}

.link {
  padding: 8px 10px;
  margin: 20px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

a:hover {
  color: #d84343;
}

.link:hover {
  color: #d84343;
}

a:focus {
  color: #d84343;
}

.link:focus {
  color: #d84343;
}

.active {
  color: #d84343;
}
