/* Layout.module.css */
.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  flex: 1;
}
