.container {
  display: grid;
  gap: 16px;
  /* min-width: 280px;
    max-width: 1400px; */
  width: 1440px;
  margin: 0 auto;
  padding: 16px;
  /* background-image: url("../../images/blendBakground.png"); */
  background-image: url("src/images/blendBakground.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: top center;
}
