
.cartBottomDetall {
    width: 100%;
    height: 588px;
     margin: 0px;
     padding: 0px;
     display: flex;
     flex-direction: row;
     justify-content: start;
     gap: 10px;
    background-color: #FFFFFF;
}
.cartComentBloks {
    width: 600px;
    height: 400px;
    margin: 0px;
    margin-left: 64px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.titlesblok {
    margin-top: 30px;
    padding-top: 30px;
    margin: 10px;
    padding: 5px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;
    align-items: center;
}

.descripBl {
    margin: 1px;
    margin-left: 30px;
    padding: 1px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;

}

.titles {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    color: black;
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
}

.cardWrapper a {
    text-decoration: none;
}

.productName {
    padding: 4px;
    margin-top: 8px;
    margin-bottom: 0;
    color: black;
}

.textPriceBl {
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
    display: flex;
    justify-content: start;

}

.textPrice {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;

}

.textTitle {
    margin: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.text {
    margin: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    /* Задає менший розмір шрифту */
    line-height: 1.4;
    /* Робить текст більш читабельним */
    color: #555;
}

.textDescr {
    width: 1000px;
}

.textdes {
    width: 123px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadde1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;

}

.textdesForm {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.iconhed {
    width: 30px;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textTitlesBl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.descripBloc {
    margin: 2px;
    margin-left: 10px;
    padding: 2px;
    width: 800px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;
    align-items: center;
}

.descripBlo {
    margin: 2px;
    padding: 2px;
    width: 100px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.iconhed {
    width: 25px;
    height: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    padding: 0px;
    margin: 0px;

}

.loched {
    height: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    padding: 0px;
    margin: 0px;
}

.textTitleL {
    width: 200px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textTitleVe {
    display: flex;
    justify-content: start;
    align-items: left;
    text-align: start;
}

.descripSe {
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
}

.textdeskrip {
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
    padding-left: 10px;
    width: 600px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textTit {
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
    padding-left: 10px;
    width: 120px;
    height: 15px;
    justify-content: start;
}

.textTitle {
    width: 100px;
    height: 22px;
    justify-content: start;
}

.texBec {
    margin-left: 300px;
    display: flex;
    justify-content: right;
}

.comIte {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 138px;
    background-color: gray;

}

.icon {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(5px);
}

.error {
    font-size: 18px;
    font-weight: 600;
}

.icons {
    width: 50px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    color: rgb(255, 0, 34);
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: right;
}

.buttonIconShowe {
    width: 166px;
    height: 56px;
    padding: 0px;
    margin: 0px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-radius: 40px;
}

.btnShowe {
    width: 166px;
    height: 56px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e44848;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    color: #fff;
}

.img {
    width: 292px;
    height: 312px;
    padding: 2px;
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* Тонка сіра рамка */
    border-radius: 10px;
    /* Невелике заокруглення */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* Легка тінь для об'єму */
}

.imgCardBloc {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.imgCard {
    width: 292px;
    height: 312px;
    padding: 1px;
    margin: 1px;
}

.blocBotContainers {
    width: 1300px;
    height: 588px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.textContainers {
    width: 630px;
    height: 580px;
    margin: 0px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 0px;
}

.textContainerses {
    width: 630px;
    height: 580px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0px;
    margin: 2px;
    margin-left: 30px;

}

.textTitleVeBlok {
    width: 200px;
    height: 30px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: start;
    text-align: left;
    align-items: left;
}

.buttonIconSearch {
    width: 166px;
    height: 56px;
    padding: 0px;
    margin: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-radius: 40px;
}

.btnSearch {
    width: 166px;
    height: 56px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e44848;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    color: #fff;
}

.blocTitleContainers {
    height: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.textTitlesBl {
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textTitlesis {
    margin: 5px;
    margin-left: 20px;
    padding: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.textTitles {
    padding: 5px;
    margin: 5px;
    margin-right: 50px;
}

.btnActivClik {
    width: 81px;
    height: 24px;
}

.btnActiv {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-right: 40px;
    background-color: #ffffff;
    border: 1px solid rgba(223, 19, 46, 0.1);
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: red;
    /* Червона лінія */
}

.textTitleTit {
    width: 600px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: var(--gray);
    display: flex;
    justify-content: start;
    align-items: center;
}

.textTitleTi {
    width: 600px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--gray);
    display: flex;
    justify-content: start;
    align-items: center;
}

.blocForm {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.booked {
    color: red;
    font-weight: bold;
}

.available {
    color: green;
    font-weight: bold;
}