/* Обгортка під хедером */
@media (min-width: 768px) and (max-width: 1279px) {
  .searchBarWrapper {
    width: 200px;
    margin-left: 50px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    border-radius: 20px;
  }

  /* Лінійна форма */
  .formRow {
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    /* opacity: 1; */
    border-radius: 20px;
    /* border-width: 1px; */
    border: 1px solid rgba(18, 17, 17, 0.4);
    width: 200px;
    height: 40px;
  }

  /* === НОВЕ: Контейнер для інпута === */
  .inputWrapper {
    position: relative;
    /* width: 100%; */
    width: 200px;
    border-radius: 20px;
  }

  /* === НОВЕ: Іконка в інпуті === */
  .inputIcon {
    position: absolute;
    top: 30%;
    /* left: 12px; */
    right: 10px;
    transform: translateY(-10%);
    transform: translateX(-30%);
    font-size: 18px;
    color: #0f0f0f;
    pointer-events: none;
    margin-bottom: 20px;
  }

  /* === Оновлений інпут під іконку === */
  .input {
    /* border: 1px solid rgba(18, 17, 17, 0.4); */
    border-radius: 20px;
    border-width: 1px;
    width: 230px;
    height: 40px;
    padding-right: 12px;
    font-size: 15px;
    background-color: #f7f7f7;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  /* Кнопка */
  .iconButton {
    width: 0px;
    height: 0px;
    /* border-radius: 12px; */
    border: none;
    cursor: pointer;

    /* background: #37058d; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    transition: opacity 0.2s;
  }

  .iconButton:hover {
    opacity: 0.85;
    background: #469adf;
  }
  .iconButton:focus {
    opacity: 0.85;
    background: #68b1ed;
  }

  /* Помилка */
  .error {
    position: absolute;
    top: 48px;
    width: 320px;
    left: 60;
    font-size: 12px;
    color: red;
  }

  .dropdown {
    position: absolute;
    margin: 50px;
    margin-top: 100px;
    background: #fbb00780;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    z-index: 1000;
    width: 200px;
    margin-left: 2px;
    /* max-width: 220px;
    max-height: 500px; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    text-align: center;

    /* justify-content: center; */
  }

  .dropdown li {
    background: #fbb00780;
    padding: 3px;
    margin: 4px;
    margin-left: -30px;
    cursor: pointer;
    border-radius: 20px;
  }

  .dropdown li:hover,
  .activeOption {
    background: #f0f0f0;
  }
}
/* DESCTOP */
@media (min-width: 1280px) and (max-width: 1440px) {
  .searchBarWrapper {
    width: 350px;
    margin-left: 150px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
  }

  /* Лінійна форма */
  .formRow {
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    /* opacity: 1; */
    border-radius: 20px;
    /* border-width: 1px; */
    border: 1px solid rgba(18, 17, 17, 0.4);
    width: 479px;
    height: 40px;
  }

  /* === НОВЕ: Контейнер для інпута === */
  .inputWrapper {
    position: relative;
    width: 100%;
  }

  /* === НОВЕ: Іконка в інпуті === */
  .inputIcon {
    position: absolute;
    top: 30%;
    /* left: 12px; */
    right: 20px;
    transform: translateY(-10%);
    transform: translateX(-30%);
    font-size: 18px;
    color: #0f0f0f;
    pointer-events: none;
    margin-bottom: 20px;
  }

  /* === Оновлений інпут під іконку === */
  .input {
    /* border: 1px solid rgba(18, 17, 17, 0.4); */
    border-radius: 20px;
    border-width: 1px;
    width: 475px;
    height: 40px;
    padding-right: 12px;
    font-size: 15px;
    background-color: #f7f7f7;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  /* Кнопка */
  .iconButton {
    width: 0px;
    height: 0px;
    /* border-radius: 12px; */
    border: none;
    cursor: pointer;

    /* background: #37058d; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    transition: opacity 0.2s;
  }

  .iconButton:hover {
    opacity: 0.85;
    background: #469adf;
  }
  .iconButton:focus {
    opacity: 0.85;
    background: #68b1ed;
  }

  /* Помилка */
  .error {
    position: absolute;
    top: 48px;
    width: 320px;
    left: 60;
    font-size: 12px;
    color: red;
  }

  .dropdown {
    position: absolute;
    margin: 50px;
    margin-top: 100px;
    background: #fbb00780;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    z-index: 1000;
    width: 200px;
    margin-left: 100px;

    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    text-align: center;

    /* justify-content: center; */
  }

  .dropdown li {
    background: #fbb00780;
    padding: 3px;
    margin: 4px;
    margin-left: -30px;
    cursor: pointer;
    border-radius: 20px;
  }

  .dropdown li:hover,
  .activeOption {
    background: #f0f0f0;
  }
}
