.container {
  position: fixed;
  /* Фіксує контейнер в нижній частині */
  bottom: 0;
  /* Відступ від верхнього краю екрана */
  left: 0;
  /* Вирівнювання по лівому краю */
  right: 0;
  /* Вирівнювання по правому краю */
  z-index: 1000;
  /* Забезпечує, що шапка буде зверху інших елементів */
  border-bottom: 1px solid #f2f4f7;
  padding: 24px 64px;
  background-color: #7c86f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  /* height: 72px; */
  width: 1440px;
  /* Забезпечує повну ширину */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Додає тінь для кращої видимості */
}

.card {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titleImg {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  padding: 0px;
  margin: 0px;
  border-radius: 2px;
  background-image: url("../../images/miniLogo.png");
}

.title {
  height: 100%;
  padding: 0px;
  margin: 0px;
  border-radius: 2px;
  margin-right: auto;
  color: rgb(76, 8, 192);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 2;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.iconLogo {
  color: rgb(49, 10, 117);
  font-size: 1.2em;
  font-weight: 600;
  line-height: 2;
}

.titleText {
  width: 300px;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.text {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.nav {
  height: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo {
  font-weight: 700;
  margin: 0;
}

.link {
  padding: 8px 10px;
  margin: 20px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

a:hover {
  color: #d84343;
}

.link:hover {
  color: #d84343;
}

a:focus {
  color: #d84343;
}

.link:focus {
  color: #d84343;
}

.active {
  color: #d84343;
}

.languageSwitcher {
  display: flex;
  gap: 10px;
  padding: 1px;
  padding-right: 30px;
  margin: 1px;
  margin-right: 170px;
  margin-left: auto;
}

.languageSwitcher button {
  padding: 5px 10px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #0e0d0d;
}

/* Зміна кольору при наведенні */
.languageSwitcher button:hover {
  background-color: white;
  border-color: white;
  color: white;
}

/* Активна кнопка (вибрана мова) */
.activeButton {
  color: #0e0d0d;
  font-weight: bold;
  border-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
}

.activeButton:hover,
.activeButton:focus {
  color: #d84343 !important;
  font-weight: bold;
  border-color: #d84343;
}

.navEmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  margin: 0px;
  padding: 0px;
}

.buttonIconBlok {
  margin: 10;
  padding: 10;
  /* margin-bottom: -100px;
  margin-left: 20px; */
}
.buttonIcon {
  width: 180px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  /* border-radius: 40%; */
}
