.cartAll {
  width: 1440px;
  height: auto;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* overflow-x: hidden; */
  /* фіксує сторінку і блокує горизонтальний скрол (вліво/вправо) */
}
