/* CatalogGallary */
.containerCatalog {
  position: static !important;
  width: 1440px;
  height: auto;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.containerLeftBlock {
  width: 386px;
  height: auto;
  margin: 5px;
  margin-top: 150px;
  margin-left: 50px;
  background: linear-gradient(
    180deg,
    rgba(53, 53, 53, 0.480769) 0%,
    rgba(156, 117, 29, 0.355954) 83.15%,
    rgba(251, 176, 7, 0.240385) 100%
  );
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  /* gap: 10px; */
}
.titleLeftBlock {
  position: absolute;
  width: 310px;
  height: 66px;
  opacity: 1;
  margin-top: 60px;
  /* top: 60px;
left: 38px; */
  border-radius: 20px;
  background-color: #fafafa;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.titleLeft {
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}
.listBlLeft {
  width: 279px;
  height: auto;
  /* height: 1500px; */
  gap: 12px;
  opacity: 1;
  margin-top: 157px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 20px;
}
.itemBlock {
  width: 250px;
  height: auto;
  margin: 5px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  text-align: left;
  gap: 10px;
}
.itemTitle {
  margin: 5px;
  padding: 0px;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fafafa;
}
.itemSelect {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.itemIcons {
  margin: 0px;
  padding: 0px;
  width: 20px;
  height: 20px;
  opacity: 1;
  border-radius: 5px;
  background: #d9d9d9;
}
.itemText {
  margin: 0px;
  margin-left: 12px;
  padding: 0px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.containerList {
  position: static !important;
  /* width: 888px; */
  width: 960px;
  height: auto;
  margin: 5px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.list {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 картки в ряд */
  gap: 20px;

  list-style: none;
}
@media (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;
  }
}

.cartItem {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cartContainer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 320px;
  background: #e4e5e988;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.text {
  margin: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 12px;
  line-height: 1.4;
  color: #555;
}

.buttonIconShowe {
  width: 182px;
  height: 54px;
  padding: 0px;
  margin: 0px;
  margin-left: 60px;
  margin-bottom: 26px;
  /* margin-top: 100px;
  margin-left: 15px;
  margin-bottom: 0px; */
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  border-radius: 40px;
}

.btnShowe {
  margin-left: 20px;
  width: 182px;
  height: 54px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  background: #fbb007;

  color: black;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.btnShowe:hover,
.btnShowe:focus {
  color: #0f0707;
  background: linear-gradient(
    180.68deg,
    #fbb007 0.58%,
    #fbd581 23.39%,
    #fafafa 99.42%
  );
}

.images {
  width: 270px !important;
  height: 260px !important;
  display: block !important;
  background-color: rgb(176, 182, 182);
  padding: 2px;
  margin: 10px;
  margin-right: 20px;
  margin-top: 20px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.imgCard {
  margin-top: 15px;
  width: 320px;
  height: 330px;
  /* padding: 1px;
  margin: 1px; */
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  list-style: none;
}
.cardTopBlock {
  margin-top: 150px;
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.imagesTopBlock {
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.imagesBlock {
  width: 310px;
  height: 66px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.titleImg {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 55px;
  background-repeat: no-repeat;
  padding: 2px;
  margin: 2px;
  margin-bottom: 10px;
  border-radius: 2px;
}
.imgLogo {
  width: 54px;
  height: 55px;
  opacity: 1;

  border-radius: 10px;
  margin: 10px;
  margin-bottom: 10px;
}
.textImg {
  width: 202px;
  height: 40px;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;

  text-align: center;

  margin: 2px;
  padding: 2px;
}
.titles {
  font-family: Montserrat Alternates;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;

  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
